<div class="header">
    <h1 class="header__logo"><a class="header__brand-name" routerLink="">Clothing Shop</a></h1>
  
    <ul>
      <li>
        <a
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">
          Home</a>
      </li>
      <li>
        <a
          routerLink="profile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">
          Profile
          </a>
    </ul>
  </div>
  